<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-packages" value="pack/FlyingLogs.Package/artifacts/packages" />
    <add key="nuget-org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-packages">
        <package pattern="BekirOzturk.FlyingLogs" />
        <package pattern="BekirOzturk.FlyingLogs.*" />
    </packageSource>
    <packageSource key="nuget-org">
      <package pattern="Basic.Reference.Assemblies.Net80" />
      <package pattern="coverlet.collector" />
      <package pattern="Crc32.NET" />
      <package pattern="Microsoft.*" />
      <package pattern="MSTest.Test*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Nuget.*" />
      <package pattern="NUnit.*" />
      <package pattern="NUnit" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="runtime.win*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>